%h1 Create New Jsonfile

= form_tag jsonfiles_path, multipart: true do

  = label :jsonfile, :name, 'File Name'
  = text_field :jsonfile, 'name'

  = label :jsonfile, :content, 'File'
  = file_field_tag :content

  = submit_tag 'import'



= link_to 'Back to jsonfile list', jsonfiles_path
