-# in app/views/jsonfiles/show.html.haml

%h3 Json Content for #{@jsonfile.name}

%ul#details
  %li
    File Name:
    = @jsonfile.name
  %li
    Content:
    = @jsonfile.content

= link_to 'Back to jsonfile list', jsonfiles_path

= button_to 'Delete', jsonfile_path(@jsonfile), :method => :delete, :confirm => 'Are you sure?'


